@media(max-width:1200px){

.hero h1{

font-size:56px;

}

}

@media(max-width:900px){

.topbar{

padding:25px;

}

nav{

display:none;

}

.hero h1{

font-size:44px;

}

.hero p{

font-size:18px;

}

}

@media(max-width:600px){

.hero h1{

font-size:34px;

}

.buttons{

flex-direction:column;

}

.primary,.secondary{

width:100%;

}

}